
@{
    ViewBag.Title = "IndexError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexError</h2>

@model List<MDK.Models.Stok>
@{
    ViewBag.Title = "IndexError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Stok</h4>
            <p class="card-description">
                Stok listesi
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Miktar</th>
                        <th>Hammadde</th>
                        <th>Detaylar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var a in Model)
                    {
                        <tr>
                            <td>@a.Id</td>
                            <td>@a.Miktar</td>
                            <td>@a.Ham_Madde.Ham_Madde1</td>
                            <td>
                                <div class="d-flex">
                                    <a href="@Url.Action("Edit_S", "Stock", new { id = a.Id })"
                                       class="btn btn-gradient-primary btn-sm mx-0">
                                        Güncelle
                                    </a>
                                    @using (Html.BeginForm("Delete_S", "Stock", FormMethod.Post, new { id = "deleteForm_" + a.Id }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("id", a.Id)
                                        <button type="button"
                                                class="btn btn-gradient-danger btn-sm mx-1 pr-3 pl-3"
                                                onclick="confirmDelete(@a.Id)">
                                            Sil
                                        </button>
                                    }

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>


<script type="text/javascript" src="~/Content/js/main.js"></script>
<script type="text/javascript" src="~/Content/js/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function confirmDelete(id) {
        Swal.fire({
            title: 'Silmek Istediginden Emin misin?',
            text: "Bu işlemi geri alamazsın!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Evet, Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('deleteForm_' + id).submit();
            }
        });
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Hata mesajını göstermek için SweetAlert kullanımı
        Swal.fire({
            icon: "error",
            title: "Hata!",
            text: "Bu hammaddeyi kullanan ürünler var Değişiklik yapabilmek için öncelikle onları kaldırmalısınız !"
        });
    });</script>